.brand-logo {
  padding-right: 20px !important;
  color:#aaa8a8 !important;
}
nav {
  box-shadow: 0 !important;
  border-style: none;
}

.row {
  margin-top: 35px !important;
}

h5 {
  margin-left: 166px;
  margin-bottom: 20px;
  color:#aaa8a8;
}

small {
  color:#e7dfdf;
  font-style: italic;
}