<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css"
        integrity="sha256-46r060N2LrChLLb5zowXQ72/iKKNiw/lAmygmHExk/o=" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/style.css">
    <title>Dosionara</title>
</head>
<body>
<nav class="grey darken-3">
    <div class="nav-wrapper container">
        <a href="#!" class="brand-logo center">Dosionara</a>
    </div>
</nav>
<!-- Header and side nav -->
<div class="container"> <br>
<h6><span id="span">Informasi Beasiswa/ Login/ Form Registrasi Beasiswa</span>/Notifikasi Success Registrasi </h6> <br>
<div class="row" id="notif"> 
    <div class="col s6">
         <h5>Notification!!!</h5><br>
        <p>congratulations you have successfully registered the <b>beasiswa amal</b> scholarship, the next step is to wait for the announcement of the results</p> <br><br><br><br><br><br><br><br>

        <a class="waves-effect waves-light btn" href="/">HOME</a>

    </div>
    <div class="col s6">
        <img id="img-notif" src="https://images.pexels.com/photos/327533/pexels-photo-327533.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" />
    </div>
</div>


<!-- addition source -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ckeditor/4.14.1/ckeditor.js"
        integrity="sha256-bEIQpI72w9NJuIVhTLFUF2/8uxl0u5800r8ddViuv+o=" crossorigin="anonymous"></script>
        </div>
    </div>
</body>